.navbar-default-custom_style{
	height:79px;
	background-color:#FFF;
	/*height:100%;*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background-color:#FFF;
	color:#000;
}


.logo{
	width:170px;
	background-repeat : no-repeat;
	margin-top:-10px;
	margin-left: 120px;
}

.navbar_menu_holder{
	padding-top: 15px;
	font-weight: bold;
	padding-right: 120px!important;
}

@media screen and (max-width: 830px) {
    .logo{
    	margin-left:0px;
    }
}

/*++++++++++++++++++++++ responsive Nav bar for small screen +++++++++++++++++*/
@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
    	margin-top:20px;
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/*++++++++++++++++++++++ responsive Nav bar for small screen ends +++++++++++++++++*/

.addvert_div{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	border-radius:2px;
	box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1200px) {
	.addvert_div{
		margin-left:200px;
		width:500px;
	}
	.addvert_div_image{
		display:none;

	}

}

@media (max-width: 731px) {
	.addvert_div{
		margin-left:70px;
		width:500px;
	}
	.addvert_div_image{
		display:none;

	}

}

@media (max-width: 576px) {
	.addvert_div{
		margin-left:30px;
		width:400px;
	}
	.addvert_div_image{
		display:none;

	}
	.back_image_sec1{
		height:400px;
	}

}


@media (max-width: 442px) {
	.addvert_div{
		margin-left:40px;
		width:200px;
	}
	.addvert_div_image{
		display:none;

	}

}
/*++++++++++++++++++++*/













@media (max-width: 1165px) {
	.mobilecol{
		display:none;
	}


}

/*
@media (max-width: 951px) {
	.mobilecol{
		display:none;
	}
	.add_div{
		margin-left:120px;
	}
	.app_row{

		margin-left: 0px; padding-left: 120px; padding-right: 150px;

	}
	.back_image_sec1{
		height:600px;
	}


}*/

.section_1{
	margin-top:70px;
}

.sub_section_1{

}

.font_style{
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
}


.uppercaseTitle{
	 text-transform: uppercase;
	 font-weight:bold;
	 letter-spacing:1px;

}
.appfeaturesDiv{
	text-align:center;
	padding-left:40px;
	padding-right:40px;
}

.inputStyle{
	margin-bottom:10px;
}

.socialIcons{

	background-color: #3b3f42;
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    background-size: 16px 16px;
    /*border: medium none;*/
    border-radius: 50px;
    cursor: pointer;
    /*display: inline-block;*/
    height: 40px;
    padding: 5px 10px;
    width: 40px;
}

.font-color{
	color:#777777;
}

.hrStyle{
	background-color:#25292c;
	height:1px;
	width:100px;
}

.FAQ_title_font{
	font-weight:bold;
	color: #25292c;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
